@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h2 {
  @apply text-h2 font-normal underline;
}

h3 {
  @apply text-h3 font-normal underline decoration-1;
}

.no-underline {
  text-decoration: none !important;
}

.base-text-underline {
text-decoration:underline;
}
